In [9]:
import json
import pandas as pd
from pprint import pprint
import datetime

In [10]:
dog_datadf = pd.read_csv('cleaned_data.csv')
# dog_datadf
dog_datadf.columns.tolist()
dog_datadf = dog_datadf.set_index('Unnamed: 0', drop = True)
dog_datadf.index.name = None
dog_datadf

,incident_date,breed,age,gender,spay_neuter_status,borough,zip_code
0,2015-01-01,bull dog,3.0,F,False,Queens,NaN
1,2015-01-01,american pit bull terrier/pit bull,6.0,M,False,Brooklyn,11221.0
2,2015-01-01,"dachshund, long haired",8.0,M,False,Manhattan,10026.0
3,2015-01-02,shih tzu,5.0,F,False,Queens,11434.0
4,2015-01-02,american pit bull terrier/pit bull,3.0,M,True,Manhattan,10128.0
...,...,...,...,...,...,...,...
11519,2022-12-31,german shepherd,2.0,F,False,Queens,11413.0
11520,2022-12-31,shih tzu / maltese mix,12.0,M,True,Queens,11364.0
11521,2022-12-31,yorkshire terrier crossbreed,1.0,M,False,Bronx,10452.0
11522,2022-12-31,maltese,6.0,F,True,Bronx,10456.0
11523,2022-12-31,cock-a-poo,6.0,M,False,Bronx,10461.0

In [11]:
dogs_data = dog_datadf[['incident_date', 'breed', 'age', 'gender', 'spay_neuter_status']]
dogs_data

,incident_date,breed,age,gender,spay_neuter_status
0,2015-01-01,bull dog,3.0,F,False
1,2015-01-01,american pit bull terrier/pit bull,6.0,M,False
2,2015-01-01,"dachshund, long haired",8.0,M,False
3,2015-01-02,shih tzu,5.0,F,False
4,2015-01-02,american pit bull terrier/pit bull,3.0,M,True
...,...,...,...,...,...
11519,2022-12-31,german shepherd,2.0,F,False
11520,2022-12-31,shih tzu / maltese mix,12.0,M,True
11521,2022-12-31,yorkshire terrier crossbreed,1.0,M,False
11522,2022-12-31,maltese,6.0,F,True
11523,2022-12-31,cock-a-poo,6.0,M,False

In [12]:
dogs_data.to_csv('dogs_data.csv')

In [13]:
dogs_datadf = dogs_data
mask = dogs_datadf[['breed', 'age', 'gender', 'spay_neuter_status']]
mask

                                    breed   age gender  spay_neuter_status
0                                bull dog   3.0      F               False
1      american pit bull terrier/pit bull   6.0      M               False
2                  dachshund, long haired   8.0      M               False
3                                shih tzu   5.0      F               False
4      american pit bull terrier/pit bull   3.0      M                True
...                                   ...   ...    ...                 ...
11519                     german shepherd   2.0      F               False
11520              shih tzu / maltese mix  12.0      M                True
11521        yorkshire terrier crossbreed   1.0      M               False
11522                             maltese   6.0      F                True
11523                          cock-a-poo   6.0      M               False

[11524 rows x 4 columns]